Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api

.gitlab-ci.yml:

variables:
  AWS_ROOT: "aws"
  BUILD_IMAGE: node:lts-alpine

stages:
  - assume-role
  - build
  - aws-cdk-diff
  - aws-cdk-deploy

# GENERAL

.setup:
  script:
    - node --version  # Print out nodejs version for debugging
    - apk add --no-cache aws-cli  # install aws-cli
    - npm install -g aws-cdk  # install aws-cdk
    - echo "Compiling the code..."
    - npm install  # install project dependencies
    - echo "Compile complete."

.assume_role:
  script:
    - echo ${ID_TOKEN}
    - >
      export $(printf "AWS_ACCESS_KEY_ID=%s AWS_SECRET_ACCESS_KEY=%s AWS_SESSION_TOKEN=%s"
      $(aws sts assume-role-with-web-identity
      --role-arn ${ROLE_ARN}
      --role-session-name "GitLabRunner-${CI_PROJECT_ID}-${CI_PIPELINE_ID}"
      --web-identity-token ${ID_TOKEN}
      --duration-seconds 3600
      --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]'
      --output text))
    - aws sts get-caller-identity

# WEBSITE 

build website:
  stage: build
  image: node:latest
  script:
    - cd website/dripdrop  # Navigate to the directory where package.json is
    - npm install
    - npm run build
  artifacts:
    paths:
      - website/dripdrop/build/ 
    when: always
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - website/dripdrop/**/*


aws-cdk-diff:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
    - cd ${AWS_ROOT} 
  script:
    - !reference [.setup, script]
    - !reference [.assume_role, script]
    - cdk diff WebsiteHostingStack --exclusively true
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - website/dripdrop/**/*


aws-cdk-deploy:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
    - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
    - cd ${AWS_ROOT} 
  script:
    - !reference [.setup, script]
    - !reference [.assume_role, script]
    - npm run build
    - cdk deploy WebsiteHostingStack --require-approval never
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - website/dripdrop/**/*


# API 

build layer:
  stage: build
  image: python:3.11
  script:
    - cd ${AWS_ROOT}/lib/layer  # Navigate to the directory where package.json is
    - pip install -r requirements.txt -t ./python
    - cp *.py ./python
  artifacts:
    paths:
      - ${AWS_ROOT}/lib/layer/python
    when: always
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - aws/*

aws-cdk-diff-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
    - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
    - cd ${AWS_ROOT} 
  script:
    - !reference [.setup, script]
    - !reference [.assume_role, script]
    - cdk diff ApiStack --exclusively true
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - aws/*


aws-cdk-deploy-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
    - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
    - cd ${AWS_ROOT} 
  script:
    - !reference [.setup, script]
    - !reference [.assume_role, script]
    - npm run build
    - cdk deploy ApiStack --require-approval never
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - aws/**/*

fff
  .gitlab-ci.yml
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

test
  .gitlab-ci.yml
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

ddd
  .gitlab-ci.yml
  aws/lib/constructs/static-site.ts
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws-cdk-deploy-api

fixed get post and get post by id to deciipher the form of the state before returning so the dictionary is in correct format
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/db/handler.py
  aws/lib/lambdas/post/getPostById/handler.py
  aws/lib/lambdas/post/getPosts/handler.py
Due: aws-cdk-deploy-api

working update post labmda, fixed update user lambda
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/post/updatePost/handler.py
Due: aws-cdk-deploy-api

fixed branch merge
  .gitlab-ci.yml
Due: none

Added api collection with bruno
  api-collection/dripdrop/Posts/Create Post.bru
  api-collection/dripdrop/Posts/View Post by ID.bru
  api-collection/dripdrop/Posts/View all Posts.bru
  api-collection/dripdrop/Posts/folder.bru
  api-collection/dripdrop/Users/Create User.bru
  api-collection/dripdrop/Users/Delete User.bru
  api-collection/dripdrop/Users/Get All Users.bru
  api-collection/dripdrop/Users/Get User by ID.bru
  api-collection/dripdrop/Users/Update User.bru
  api-collection/dripdrop/Users/folder.bru
  api-collection/dripdrop/bruno.json
  api-collection/dripdrop/collection.bru
Due: none

added bypass login button, added more form validataion, and created a better user account creation confirmation using material ui's snackbar
  website/dripdrop/src/App.tsx
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/pages/signIn.tsx
  website/dripdrop/src/pages/signUp.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

When a user creates an account, they are redirected to the sign in screen with a snackbar message indicated the successful account creation.
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/pages/signIn.tsx
  website/dripdrop/src/pages/signUp.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

fixed bug in the login bypass button
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Cleaned up sidebar
  website/dripdrop/src/components/Sidebar.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Session storing works
  website/dripdrop/src/pages/Home.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Removed settings page and made trhe user profile info by dynamiclly generated
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/Settings.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Improved the profile page. Need to fix the naviagtion by making the sign in and signup their own pages
  website/dripdrop/src/components/UserProfile.tsx
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

log out works
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Began working on the edit Profile page
  website/dripdrop/src/pages/EditProfile.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Add the sign in endpoint and update the create user method
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/user/createUser/handler.py
  aws/lib/lambdas/user/userSignIn/handler.py
Due: aws-cdk-deploy-api

branch changes
  .gitlab-ci.yml
Due: none

df
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

test branch stuff
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

missing id token
  .gitlab-ci.yml
Due: none

pipelines are hard
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Testing
  .gitlab-ci.yml
Due: none

Update various issues
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/image/createImage/handler.py
  aws/lib/lambdas/image/deleteImage/handler.py
  aws/lib/lambdas/image/getImageByImageId/handler.py
  aws/lib/lambdas/image/getImageByPostId/handler.py
  aws/lib/lambdas/image/getImages/handler.py
  aws/lib/lambdas/image/updateImage/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Bruno Test
  api-collection/dripdrop/Users/Update User.bru
Due: none

Creating follow lambda(?)
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/user/followUser/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Fix?
  aws/lib/constructs/api-construct.ts
Due: aws-cdk-deploy-api

Hopeful fix?
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/follow/followUser/handler.py
Due: aws-cdk-deploy-api

Please work
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

PLEASE WORK
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

I'm so confused, bruh.
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Maybe I should stick to front-end
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Ok, I might be cooking now.
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/follow/getFollowingById/handler.py
Due: aws-cdk-deploy-api

Fix foreign key from image
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Changes
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/follow/getFollowingById/handler.py
Due: aws-cdk-deploy-api

Make misc. updates
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/image/createImage/handler.py
  aws/lib/lambdas/image/updateImage/handler.py
  aws/lib/lambdas/post/createPost/handler.py
  aws/lib/lambdas/post/getPostById/handler.py
  aws/lib/lambdas/post/getPosts/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Add tag functionality (WIP)
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/tag/createTag/handler.py
  aws/lib/lambdas/tag/deleteTag/handler.py
  aws/lib/lambdas/tag/getTagById/handler.py
  aws/lib/lambdas/tag/getTags/handler.py
  aws/lib/lambdas/tag/updateTag/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Get Followers By ID
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/follow/getFollowersById/handler.py
Due: aws-cdk-deploy-api

compare_to
  .gitlab-ci.yml
Due: none

dynamiclly generated posts
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy
