Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api

build website:
  stage: build
  image: node:latest
  script:
  - cd website/dripdrop
  - npm install
  - npm run build
  artifacts:
    paths:
    - website/dripdrop/build/
    when: always

aws-cdk-diff:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - cdk diff WebsiteHostingStack --exclusively true

aws-cdk-deploy:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - npm run build
  - cdk deploy WebsiteHostingStack --require-approval never

build layer:
  stage: build
  image: python:3.11
  script:
  - cd ${AWS_ROOT}/lib/layer
  - pip install -r requirements.txt -t ./python
  - cp *.py ./python
  artifacts:
    paths:
    - ${AWS_ROOT}/lib/layer/python
    when: always

aws-cdk-diff-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
  - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - cdk diff ApiStack --exclusively true

aws-cdk-deploy-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
  - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - npm run build
  - cdk deploy ApiStack --require-approval never

All users endpoints are upadted to use return response util
  aws/lib/lambdas/user/createUser/handler.py
  aws/lib/lambdas/user/deleteUser/handler.py
  aws/lib/lambdas/user/getUserById/handler.py
  aws/lib/lambdas/user/getUserByUsername/handler.py
  aws/lib/lambdas/user/getUsers/handler.py
  aws/lib/lambdas/user/updateUser/handler.py
  aws/lib/lambdas/user/userSignIn/handler.py
  aws/lib/layer/response_utils.py
Due: aws-cdk-deploy-api

Tags are update to use the return function
  aws/lib/lambdas/sample/handler.py
  aws/lib/lambdas/tag/createTag/handler.py
  aws/lib/lambdas/tag/deleteTag/handler.py
  aws/lib/lambdas/tag/getTagById/handler.py
  aws/lib/lambdas/tag/getTags/handler.py
  aws/lib/lambdas/tag/updateTag/handler.py
Due: aws-cdk-deploy-api

Posts are updated to use the return function
  aws/lib/lambdas/post/createPost/handler.py
  aws/lib/lambdas/post/deletePost/handler.py
  aws/lib/lambdas/post/getPostById/handler.py
  aws/lib/lambdas/post/getPosts/handler.py
  aws/lib/lambdas/post/updatePost/handler.py
Due: aws-cdk-deploy-api

updated db and follow to use the return function. Just need to update the images now
  aws/lib/lambdas/db/handler.py
  aws/lib/lambdas/follow/followUser/handler.py
  aws/lib/lambdas/follow/getFollowersById/handler.py
  aws/lib/lambdas/follow/getFollowingById/handler.py
Due: aws-cdk-deploy-api

Update Image tables to use the return function from utils
  aws/lib/lambdas/image/createImage/handler.py
  aws/lib/lambdas/image/deleteImage/handler.py
  aws/lib/lambdas/image/getImageByImageId/handler.py
  aws/lib/lambdas/image/getImageByPostId/handler.py
  aws/lib/lambdas/image/getImages/handler.py
  aws/lib/lambdas/image/updateImage/handler.py
Due: aws-cdk-deploy-api

Make various improvements/updates
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/testFunctions/handler.py
  aws/lib/layer/dripdrop_utils.py
  aws/lib/layer/tag.py
Due: aws-cdk-deploy-api

Remove unnecessary imports
  aws/lib/lambdas/testFunctions/handler.py
  aws/lib/layer/tag.py
Due: aws-cdk-deploy-api

Update with new create_response function
  aws/lib/lambdas/testFunctions/handler.py
Due: aws-cdk-deploy-api

removed duplicat entries in gitignore
  .gitignore
  aws/lib/lambdas/image/getImages/handler.py
Due: aws-cdk-deploy-api

Refactor post functionality
  aws/lib/lambdas/post/createPost/handler.py
  aws/lib/lambdas/post/deletePost/handler.py
  aws/lib/lambdas/post/getPostById/handler.py
  aws/lib/lambdas/post/getPosts/handler.py
  aws/lib/lambdas/post/updatePost/handler.py
  aws/lib/layer/post.py
Due: aws-cdk-deploy-api

Refactor user functionality
  aws/lib/lambdas/user/createUser/handler.py
  aws/lib/lambdas/user/deleteUser/handler.py
  aws/lib/lambdas/user/getUserById/handler.py
  aws/lib/lambdas/user/getUserByUsername/handler.py
  aws/lib/lambdas/user/getUsers/handler.py
  aws/lib/lambdas/user/updateUser/handler.py
  aws/lib/lambdas/user/userSignIn/handler.py
  aws/lib/layer/user.py
Due: aws-cdk-deploy-api

Refactor image backend & improve error handling & remove image endpoints
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/image/createImage/handler.py
  aws/lib/lambdas/image/deleteImage/handler.py
  aws/lib/lambdas/image/getImageByImageId/handler.py
  aws/lib/lambdas/image/getImageByPostId/handler.py
  aws/lib/lambdas/image/getImages/handler.py
  aws/lib/lambdas/image/updateImage/handler.py
  aws/lib/lambdas/testFunctions/handler.py
  aws/lib/layer/image.py
Due: aws-cdk-deploy-api

Progress
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/follow/followUser/handler.py
  aws/lib/lambdas/sample/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
  aws/lib/layer/follow.py
Due: aws-cdk-deploy-api

Ready to test new follow backed
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/follow/getFollowers/handler.py
  aws/lib/lambdas/follow/getFollowersById/handler.py
  aws/lib/lambdas/follow/getFollowing/handler.py
  aws/lib/lambdas/follow/getFollowingById/handler.py
  aws/lib/lambdas/follow/unfollowUser/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
  aws/lib/layer/follow.py
Due: aws-cdk-deploy-api

Small change
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Update utils and handle exceptions better
  aws/lib/lambdas/db/handler.py
  aws/lib/lambdas/post/createPost/handler.py
  aws/lib/lambdas/post/deletePost/handler.py
  aws/lib/lambdas/post/getPostById/handler.py
  aws/lib/lambdas/post/getPosts/handler.py
  aws/lib/lambdas/post/updatePost/handler.py
  aws/lib/lambdas/sample/handler.py
  aws/lib/lambdas/testFunctions/handler.py
  aws/lib/lambdas/user/createUser/handler.py
  aws/lib/lambdas/user/deleteUser/handler.py
  aws/lib/lambdas/user/getUserById/handler.py
  aws/lib/lambdas/user/getUserByUsername/handler.py
  aws/lib/lambdas/user/getUsers/handler.py
  aws/lib/lambdas/user/updateUser/handler.py
  aws/lib/lambdas/user/userSignIn/handler.py
  aws/lib/layer/image.py
  aws/lib/layer/post.py
  aws/lib/layer/response_utils.py
  aws/lib/layer/sqlalchemy_utils.py
  aws/lib/layer/tag.py
  aws/lib/layer/user.py
  aws/lib/layer/utils.py
Due: aws-cdk-deploy-api

Linking search bar to profile page
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Fixing sidebar profile link
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Trying fix
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Still not working
  aws/lib/lambdas/follow/followUser/handler.py
  aws/lib/lambdas/follow/getFollowers/handler.py
  aws/lib/lambdas/follow/getFollowing/handler.py
  aws/lib/lambdas/follow/unfollowUser/handler.py
  aws/lib/lambdas/sample/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
  aws/lib/layer/follow.py
Due: aws-cdk-deploy-api

Working on adding create post api
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/PostModal.tsx
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Adding get posts by userID
  api-collection/dripdrop/Posts/View all Posts by UserID.bru
  aws/lib/constructs/static-site.ts
  aws/lib/lambdas/post/getPostsByUserID/handler.py
  aws/lib/layer/post.py
Due: aws-cdk-deploy-api

cleanup of images folder
  website/dripdrop/public/logo192.png
  website/dripdrop/public/logo512.png
  website/dripdrop/public/manifest.json
  website/dripdrop/public/outfit1_dots.png
  website/dripdrop/public/outfit2_dots.png
  website/dripdrop/public/outfit_1.jpg
  website/dripdrop/public/outfit_2.jpeg
Due: build website, aws-cdk-diff, aws-cdk-deploy

Create post works without images
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostModal.tsx
  website/dripdrop/src/pages/signIn.tsx
  website/dripdrop/src/styles/types.ts
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy

This will work
  aws/lib/layer/dripdrop_orm_objects.py
  aws/lib/layer/follow.py
Due: aws-cdk-deploy-api

cleaned unused imports
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostModal.tsx
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy

Posts are populate dynamiclly in the user's own profile
  api-collection/dripdrop/Posts/View all Posts by UserID.bru
  website/dripdrop/public/logo192.png
  website/dripdrop/public/logo512.png
  website/dripdrop/public/manifest.json
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

updated package-lock json
  website/dripdrop/package-lock.json
Due: build website, aws-cdk-diff, aws-cdk-deploy

Add follow endpoints to Bruno
  api-collection/dripdrop/Followers/Follow User.bru
  api-collection/dripdrop/Followers/Get Followers.bru
  api-collection/dripdrop/Followers/Get Following.bru
  api-collection/dripdrop/Followers/Unfollow User.bru
Due: none

Quick fix
  aws/lib/layer/follow.py
Due: aws-cdk-deploy-api

Quick fix
  api-collection/dripdrop/Followers/Get Following.bru
Due: none

Fixed scroll to be consistent with the feed. Also made posts appear in a 3 column grim to improve appearance
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

fixing eslint
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

test
  aws/lib/constructs/static-site.ts
Due: aws-cdk-deploy-api

return 200 status code
  aws/lib/constructs/static-site.ts
Due: aws-cdk-deploy-api

test
  .gitlab-ci.yml
Due: none

Refactored the view post
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/ViewPostModal.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

refactored the postModal to its own component
  website/dripdrop/src/components/PostModal.tsx
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Path conditions:
  build website: any of: website/dripdrop/**/*
  aws-cdk-diff: any of: website/dripdrop/**/*
  aws-cdk-deploy: any of: website/dripdrop/**/*
  build layer: any of: aws/*
  aws-cdk-diff-api: any of: aws/*
  aws-cdk-deploy-api: any of: aws/**/*
