Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api, aws_cdk_deploy_branch

build website:
  stage: build
  image: node:latest
  script:
  - cd website/dripdrop
  - npm install
  - npm run build
  artifacts:
    paths:
    - website/dripdrop/build/
    when: always

aws-cdk-diff:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - cdk diff WebsiteHostingStack --exclusively true

aws-cdk-deploy:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - npm run build
  - cdk deploy WebsiteHostingStack --require-approval never

build layer:
  stage: build
  image: python:3.11
  script:
  - cd ${AWS_ROOT}/lib/layer
  - pip install -r requirements.txt -t ./python
  - cp *.py ./python
  artifacts:
    paths:
    - ${AWS_ROOT}/lib/layer/python
    when: always

aws-cdk-diff-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
  - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - cdk diff MainAPI --exclusively true

aws-cdk-deploy-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
  - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - npm run build
  - cdk deploy MainAPI --require-approval never

aws_cdk_deploy_branch:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  environment:
    name: branch/${CI_COMMIT_BRANCH}
    url: https://${CI_COMMIT_BRANCH}.dripdropco.com
    on_stop: stop_branch_deploy
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  ...

Reorganize api call structure
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Add bruno files
  api-collection/dripdrop/Feed/Get Feed.bru
  api-collection/dripdrop/HasSeen/Get Posts Seen By User ID.bru
  api-collection/dripdrop/HasSeen/Get Users By Post ID.bru
  api-collection/dripdrop/HasSeen/Mark Posts As Seen.bru
  api-collection/dripdrop/HasSeen/Reset Seen Posts By User ID.bru
Due: none

Add likes to post endpoints
  aws/lib/lambdas/api-endpoints/post/get-post-by-id/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts-by-user-id/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts/handler.py
Due: none

Fix merge
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

Add likes to feed algo
  aws/lib/lambdas/api-endpoints/feed/get-feed/handler.py
Due: none

Fix comments endpoints in Bruno
  api-collection/dripdrop/Comments/Get Comments.bru
Due: none

Implemented likes on the feed
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

posts stay colored red when liked
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

lots of changes
  aws/bin/dripdrop-app.ts
  aws/lib/image-processing-step-function-stack .ts
  aws/lib/lambdas/ai-image-processing/classification/Dockerfile
  aws/lib/lambdas/ai-image-processing/classification/requirements.txt
  aws/lib/lambdas/ai-image-processing/classification/src/classification_lambda.py
  aws/lib/lambdas/ai-image-processing/classification/src/util.py
  aws/lib/lambdas/ai-image-processing/segment/Dockerfile
  aws/lib/lambdas/ai-image-processing/segment/requirements.txt
  aws/lib/lambdas/ai-image-processing/segment/src/segmentation_lambda.py
  aws/lib/lambdas/ai-image-processing/segment/src/util.py
  aws/lib/lambdas/ai-image-processing/trigger/sqs_trigger_lambda.py
  aws/lib/sagemaker-stack.ts
Due: none

added type for comments and the api calls
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

progress on comments on posts. Need to get it to refresh the changes immediatly still
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/components/ViewPostModal.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixed user id when creating a comment
  website/dripdrop/src/components/ViewPostModal.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

comments now update when created
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/ViewPostModal.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

added function to api.ts
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Sidebar.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Cleaned up some of the profile code and reduced the number of unnecessary calls
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Improved screen when the user has no posts
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

updated packeges
  .expo/README.md
  .expo/settings.json
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

Refactored how the getUsername is called
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Comment fixes
  aws/lib/lambdas/api-endpoints/comment/get-comments/handler.py
  aws/lib/lambdas/api-endpoints/feed/get-feed/handler.py
  aws/lib/lambdas/api-endpoints/post/get-post-by-id/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts-by-user-id/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts/handler.py
Due: none

Adding blank pages and navbar skeleton
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/components/navigation/Navbar.tsx
  mobile/dripdrop/components/navigation/TabBarIcon.tsx
  mobile/dripdrop/components/screens/Bookmarks.tsx
  mobile/dripdrop/components/screens/Home.tsx
  mobile/dripdrop/components/screens/Post.tsx
  mobile/dripdrop/components/screens/Profile.tsx
  mobile/dripdrop/components/screens/Search.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

Getting rid of error
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

Updated to use the username on comments
  website/dripdrop/src/components/ViewPostModal.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

PostCard displays the number of comments
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

more ai infra changes
  aws/lib/image-processing-step-function-stack .ts
  aws/lib/lambdas/ai-image-processing/classification/src/attributes.json
  aws/lib/lambdas/ai-image-processing/classification/src/classification_lambda.py
  aws/lib/lambdas/ai-image-processing/classification/src/util.py
  aws/lib/lambdas/ai-image-processing/segment/src/categories.json
  aws/lib/lambdas/ai-image-processing/segment/src/segmentation_lambda.py
  aws/lib/lambdas/ai-image-processing/segment/src/util.py
Due: none

Finally found the correct syntax
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Small change
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Initial progress
  aws/lib/lambdas/api-endpoints/user/update-profile-pic/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

W changes
  aws/lib/image-processing-step-function-stack .ts
  aws/lib/lambdas/ai-image-processing/classification/src/classification_lambda.py
  aws/lib/lambdas/ai-image-processing/classification/src/util.py
  aws/lib/lambdas/ai-image-processing/segment/src/util.py
Due: none

Cleaned up unecessary files. Added framework for creating a post. Installed React-native-paper
  mobile/dripdrop/app-example/(tabs)/_layout.tsx
  mobile/dripdrop/app-example/(tabs)/explore.tsx
  mobile/dripdrop/app-example/(tabs)/index.tsx
  mobile/dripdrop/app-example/+html.tsx
  mobile/dripdrop/app-example/+not-found.tsx
  mobile/dripdrop/app.json
  mobile/dripdrop/app/(layouts)/_layout.tsx
  mobile/dripdrop/app/Login.tsx
  mobile/dripdrop/app/create-post.tsx
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/app/layouts/_layout.tsx
  mobile/dripdrop/components/Collapsible.tsx
  mobile/dripdrop/components/ExternalLink.tsx
  mobile/dripdrop/components/HelloWave.tsx
  mobile/dripdrop/components/ParallaxScrollView.tsx
  mobile/dripdrop/components/ThemedText.tsx
  mobile/dripdrop/components/ThemedView.tsx
  mobile/dripdrop/components/__tests__/ThemedText-test.tsx
  mobile/dripdrop/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  mobile/dripdrop/components/navigation/TabBarIcon.tsx
  mobile/dripdrop/constants/Colors.ts
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
  mobile/dripdrop/tsconfig.json
Due: none

More work on creating an post
  mobile/dripdrop/app.json
  mobile/dripdrop/app/api.ts
  mobile/dripdrop/app/create-post.tsx
  mobile/dripdrop/app/types.ts
Due: none

Save changes
  aws/lib/lambdas/api-endpoints/user/update-profile-pic/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

Progress
  aws/lib/lambdas/api-endpoints/user/update-profile-pic/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

SnapStart hopefully working now
  aws/lib/constructs/api-construct.ts
  aws/package-lock.json
  aws/package.json
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Checking versioning
  aws/lib/lambdas/api-endpoints/comment/add-comment/handler.py
Due: none

tweaking dependencies to fix expo
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/components/screens/Signup.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
  mobile/dripdrop/tsconfig.json
Due: none

dependency changes
  mobile/dripdrop/package.json
Due: none

deleted nested dripdrip folder that added for some reason in the merge
  mobile/dripdrop/dripdrop/.gitignore
  mobile/dripdrop/dripdrop/README.md
  mobile/dripdrop/dripdrop/app.json
  mobile/dripdrop/dripdrop/app/(tabs)/_layout.tsx
  mobile/dripdrop/dripdrop/app/(tabs)/explore.tsx
  mobile/dripdrop/dripdrop/app/(tabs)/index.tsx
  mobile/dripdrop/dripdrop/app/+not-found.tsx
  mobile/dripdrop/dripdrop/app/_layout.tsx
  mobile/dripdrop/dripdrop/assets/fonts/SpaceMono-Regular.ttf
  mobile/dripdrop/dripdrop/assets/images/adaptive-icon.png
  mobile/dripdrop/dripdrop/assets/images/favicon.png
  mobile/dripdrop/dripdrop/assets/images/icon.png
  mobile/dripdrop/dripdrop/assets/images/partial-react-logo.png
  mobile/dripdrop/dripdrop/assets/images/react-logo.png
  mobile/dripdrop/dripdrop/assets/images/react-logo@2x.png
  mobile/dripdrop/dripdrop/assets/images/react-logo@3x.png
  mobile/dripdrop/dripdrop/assets/images/splash-icon.png
  mobile/dripdrop/dripdrop/components/Collapsible.tsx
  mobile/dripdrop/dripdrop/components/ExternalLink.tsx
  mobile/dripdrop/dripdrop/components/HapticTab.tsx
  mobile/dripdrop/dripdrop/components/HelloWave.tsx
  mobile/dripdrop/dripdrop/components/ParallaxScrollView.tsx
  mobile/dripdrop/dripdrop/components/ThemedText.tsx
  mobile/dripdrop/dripdrop/components/ThemedView.tsx
  mobile/dripdrop/dripdrop/components/__tests__/ThemedText-test.tsx
  mobile/dripdrop/dripdrop/components/__tests__/__snapshots__/ThemedText-test.tsx.snap
  mobile/dripdrop/dripdrop/components/ui/IconSymbol.ios.tsx
  mobile/dripdrop/dripdrop/components/ui/IconSymbol.tsx
  mobile/dripdrop/dripdrop/components/ui/TabBarBackground.ios.tsx
  mobile/dripdrop/dripdrop/components/ui/TabBarBackground.tsx
  mobile/dripdrop/dripdrop/constants/Colors.ts
  mobile/dripdrop/dripdrop/hooks/useColorScheme.ts
  mobile/dripdrop/dripdrop/hooks/useColorScheme.web.ts
  mobile/dripdrop/dripdrop/hooks/useThemeColor.ts
  mobile/dripdrop/dripdrop/package-lock.json
  mobile/dripdrop/dripdrop/package.json
  mobile/dripdrop/dripdrop/scripts/reset-project.js
  mobile/dripdrop/dripdrop/tsconfig.json
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

sign up works, takes to login page
  mobile/dripdrop/app/Signup.tsx
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

cleaned code
  mobile/dripdrop/app/index.tsx
Due: none

createed folder heirarchy diagrams for the website and backend
  diagrams/aws_structure.svg
  diagrams/output.svg
Due: none

Path conditions:
  build website: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-diff: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-deploy: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  build layer: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-diff-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-deploy-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws_cdk_deploy_branch: any of: website/dripdrop/**/*
