Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api, aws_cdk_deploy_branch

Path conditions:
  build website: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-diff: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-deploy: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  build layer: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-diff-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-deploy-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws_cdk_deploy_branch: any of: website/dripdrop/**/*

empty commit to test husky
  website/dripdrop/package-lock.json
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

imported react router dom
  website/dripdrop/package-lock.json
  website/dripdrop/package.json
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

empty commit
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

empty commit
  website/dripdrop/.husky/pre-commit
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixed username and email on the sidebar
  website/dripdrop/src/Auth/UserContext.tsx
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fix comments
  aws/lib/lambdas/api-endpoints/follow/follow-user/handler.py
  aws/lib/lambdas/api-endpoints/follow/get-followers/handler.py
  aws/lib/lambdas/api-endpoints/follow/get-following/handler.py
  aws/lib/lambdas/api-endpoints/follow/unfollow-user/handler.py
  aws/lib/lambdas/api-endpoints/post/create-post/handler.py
  aws/lib/lambdas/api-endpoints/post/delete-post/handler.py
  aws/lib/lambdas/api-endpoints/post/get-post-by-id/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts-by-user-id/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts/handler.py
  aws/lib/lambdas/api-endpoints/post/update-post/handler.py
  aws/lib/lambdas/api-endpoints/user/create-user/handler.py
  aws/lib/lambdas/api-endpoints/user/delete-user/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-id/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-username/handler.py
  aws/lib/lambdas/api-endpoints/user/get-users/handler.py
  aws/lib/lambdas/api-endpoints/user/update-user/handler.py
  aws/lib/lambdas/api-endpoints/user/user-sign-in/handler.py
Due: none

Handle Updating username or email
  aws/lib/lambdas/api-endpoints/user/update-user/handler.py
Due: none

Make sure follow relationship contains valid user-id
  aws/lib/lambdas/api-endpoints/follow/follow-user/handler.py
  aws/lib/lambdas/api-endpoints/follow/unfollow-user/handler.py
Due: none

Quick fix
  aws/lib/lambdas/api-endpoints/follow/follow-user/handler.py
  aws/lib/lambdas/api-endpoints/follow/unfollow-user/handler.py
Due: none

Fix error message
  aws/lib/lambdas/api-endpoints/follow/follow-user/handler.py
  aws/lib/lambdas/api-endpoints/follow/unfollow-user/handler.py
Due: none

better_logo_issues loading expo go
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/components/screens/Signup.tsx
  mobile/dripdrop/public/DripDrop.png
  mobile/dripdrop/public/dripdrop_logo.png
Due: none

Various updates
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/has-seen/getSeenPostsByUserId/handler.py
  aws/lib/lambdas/has-seen/getUsersByPostId/handler.py
  aws/lib/lambdas/has-seen/handler.py
  aws/lib/lambdas/has-seen/markAsSeen/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Reorganize to fit recent restructure
  aws/lib/lambdas/api-endpoints/feed/get-feed/handler.py
  aws/lib/lambdas/api-endpoints/has-seen/get-seen-posts-by-user-id/handler.py
  aws/lib/lambdas/api-endpoints/has-seen/get-users-by-post-id/handler.py
  aws/lib/lambdas/api-endpoints/has-seen/mark-as-seen/handler.py
  aws/lib/lambdas/has-seen/getSeenPostsByUserId/handler.py
  aws/lib/lambdas/has-seen/getUsersByPostId/handler.py
  aws/lib/lambdas/has-seen/markAsSeen/handler.py
  aws/lib/layer/feed.py
  aws/lib/layer/has_seen.py
Due: none

Update api-constructs to include new lambdas
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Fix path issue
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Progress on item tables
  aws/lib/lambdas/api-endpoints/post/create-post/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

Fix various issues and add reset seen posts
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/feed/get-feed/handler.py
  aws/lib/lambdas/api-endpoints/has-seen/get-seen-posts-by-user-id/handler.py
  aws/lib/lambdas/api-endpoints/has-seen/get-users-by-post-id/handler.py
  aws/lib/lambdas/api-endpoints/has-seen/mark-as-seen/handler.py
  aws/lib/lambdas/api-endpoints/has-seen/reset-seen-posts-for-user-id/handler.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Created skeleton for new createPost endpoint
  aws/lib/lambdas/api-endpoints/post/create-post/handler.py
Due: none

Added the tables, and started on endpoints
  aws/lib/lambdas/api-endpoints/follow/unfollow-user/handler.py
  aws/lib/lambdas/api-endpoints/like/like-post/handler.py
  aws/lib/lambdas/api-endpoints/like/unlike-post/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

Fixed user profile hover
  website/dripdrop/src/components/Sidebar.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Removed the lists link
  website/dripdrop/src/components/Sidebar.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Cleaned the types interfaces to all be using the common types in the types.ts file
  website/dripdrop/src/components/ImageMarker.tsx
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

test
  .gitignore
  ai/convert_for_dectection.py
  aws/lib/sagemaker-stack.ts
Due: none

sage maker
  aws/bin/dripdrop-app.ts
  aws/lib/sagemaker-stack.ts
Due: none

Revert createPost lambda, finish tables
  aws/lib/lambdas/api-endpoints/post/create-post/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

fix newline
  aws/lib/lambdas/api-endpoints/post/create-post/handler.py
Due: none

Finished adding these tables
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

Progress for today
  aws/lib/constructs/api-construct.ts
  aws/lib/layer/dripdrop_orm_objects.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

added tab for drafts on the profile page
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

drafts link on sidebar now navigates to correct tab
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Bug fix with too many rerenders on the profile page
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

First round of likes and comments to test
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/comment/add-comment/handler.py
  aws/lib/lambdas/api-endpoints/comment/delete-comment/handler.py
  aws/lib/lambdas/api-endpoints/comment/get-comments/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

fix
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

fixes
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/manage-db/create-tables.py
  aws/lib/lambdas/api-endpoints/manage-db/force-drop-tables.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

naming fixes
  aws/lib/lambdas/api-endpoints/like/like-post/handler.py
  aws/lib/lambdas/api-endpoints/like/unlike-post/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

another fix
  aws/lib/lambdas/api-endpoints/like/like-post/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

Update Bruno Endpoints
  api-collection/dripdrop/Followers/Follow User.bru
  api-collection/dripdrop/Followers/Get Followers.bru
  api-collection/dripdrop/Followers/Get Following.bru
  api-collection/dripdrop/Posts/Create Post.bru
  api-collection/dripdrop/Posts/Delete Post.bru
  api-collection/dripdrop/Posts/View all Posts by UserID.bru
Due: none

Bruno
  api-collection/dripdrop/Comments/Create Comment.bru
  api-collection/dripdrop/Comments/Delete Comment.bru
  api-collection/dripdrop/Comments/Get Comments.bru
  api-collection/dripdrop/Likes/Like Post.bru
  api-collection/dripdrop/Likes/Unlike Post.bru
Due: none

Make various improvements
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/feed/get-feed/handler.py
  aws/lib/layer/feed.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api
