Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, deploy s3, update cdk

build website:
  stage: build-website
  image: node:latest
  before_script:
  - cd website/dripdrop
  - npm install
  script:
  - npm run build
  artifacts:
    paths:
    - website/dripdrop/build/
    when: always

deploy s3:
  stage: deploy-to-s3
  image:
    name: amazon/aws-cli:latest
    entrypoint:
    - /usr/bin/env
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd website/dripdrop
  script:
  ...

update cdk:
  stage: update-cdk
  image: node:latest
  before_script:
  - cd aws
  - npm install
  script:
  ...

testing conditions to run on main and changes in website
  .gitlab-ci.yml
Due: none

pipeline should only run on changes to appropriate folders
  .gitlab-ci.yml
Due: none

fixing aws command not found
  .gitlab-ci.yml
Due: none

updated the cdk part of the pipeline to use a custom made docker image (see aws ecr service) and changed rules for how the pieline should run
  .gitlab-ci.yml
  Dockerfile
Due: none

testing update cdk
  .gitlab-ci.yml
Due: none

authenticate before logging into ecr
  .gitlab-ci.yml
Due: none

debug
  .gitlab-ci.yml
Due: none

debugging
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

temporarily commenting out cdk pipeline
  .gitlab-ci.yml
Due: none

add debugging
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
  website/dripdrop/src/components/Filters.tsx
Due: build website, deploy s3

changing to use gitlab's container registry
  .gitlab-ci.yml
Due: none

terst
  .gitlab-ci.yml
Due: none

id token patch
  .gitlab-ci.yml
Due: none

build
  .gitlab-ci.yml
Due: none

fixed build path
  aws/lib/constructs/static-site.ts
Due: update cdk

fixing path
  aws/lib/constructs/static-site.ts
Due: update cdk

build path
  aws/lib/constructs/static-site.ts
Due: update cdk

fixed path
  .gitlab-ci.yml
  aws/lib/constructs/static-site.ts
Due: update cdk

fixing build path
  aws/lib/constructs/static-site.ts
Due: update cdk

commenting out update-cdk pipeline
  .gitlab-ci.yml
Due: none

Sidebar
  website/dripdrop/package-lock.json
  website/dripdrop/package.json
  website/dripdrop/public/images/logo.png
  website/dripdrop/public/images/logo.svg
  website/dripdrop/public/index.html
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, deploy s3

Made feed scrollable within box
  website/dripdrop/src/App.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Home.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/styles/app.css
Due: build website, deploy s3

Cleanup tables
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/user/create_user/handler.py
  aws/lib/lambdas/user/get_users/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: update cdk

Fix?
  website/dripdrop/src/components/Sidebar.tsx
Due: build website, deploy s3

First API calls working in AWS lambda console
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/user/create_user/handler.py
  aws/lib/lambdas/user/get_users/handler.py
Due: update cdk

Fixed login width, and working on implementing the filters into the new nav bar
  website/dripdrop/src/components/Filters.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Home.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, deploy s3

mostyl fixed filters
  website/dripdrop/src/components/Filters.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Home.tsx
Due: build website, deploy s3

Fixed filter and added logo on the chrome tab
  website/dripdrop/public/DripDropIcon.png
  website/dripdrop/public/index.html
  website/dripdrop/src/components/Filters.tsx
  website/dripdrop/src/components/Sidebar.tsx
Due: build website, deploy s3

removing unused imports
  website/dripdrop/src/components/Filters.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Home.tsx
Due: build website, deploy s3

Path conditions:
  build website: any of: website/dripdrop/**/*
  deploy s3: any of: website/dripdrop/**/*
  update cdk: any of: aws/**/*
