Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api, aws_cdk_deploy_branch

Path conditions:
  build website: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-diff: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-deploy: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  build layer: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-diff-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-deploy-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws_cdk_deploy_branch: any of: website/dripdrop/**/*

login page outline created
  mobile/dripdrop/app/Login.tsx
  mobile/dripdrop/app/home.tsx
Due: none

Another snapstart try
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Created lambda for updating user profile pic
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/user/update-profile-pic/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

login works
  mobile/dripdrop/app/Login.tsx
  mobile/dripdrop/app/Signup.tsx
  mobile/dripdrop/app/home.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

visual fixes
  mobile/dripdrop/app/Login.tsx
  mobile/dripdrop/app/Signup.tsx
Due: none

reorganized folders and cleaned code
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/app/pages/Home.tsx
  mobile/dripdrop/app/pages/Login.tsx
  mobile/dripdrop/app/pages/Signup.tsx
Due: none

Functional Navbar
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/components/navigation/Navbar.tsx
  mobile/dripdrop/components/screens/Bookmarks.tsx
  mobile/dripdrop/components/screens/Home.tsx
  mobile/dripdrop/components/screens/Post.tsx
  mobile/dripdrop/components/screens/Profile.tsx
  mobile/dripdrop/components/screens/Search.tsx
Due: none

Combining changes
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

search bar component works
  mobile/dripdrop/app/components/Searchbar.tsx
  mobile/dripdrop/app/pages/Home.tsx
  mobile/dripdrop/app/pages/Login.tsx
  mobile/dripdrop/app/pages/Signup.tsx
Due: none

merged from master
  mobile/dripdrop/app/index.tsx
Due: none

Add a return for if the given user has liked a given post
  aws/lib/lambdas/api-endpoints/feed/get-feed/handler.py
Due: none

Standardizing Navigatable Pages
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/app/pages/Bookmarks.tsx
  mobile/dripdrop/app/pages/Home.tsx
  mobile/dripdrop/app/pages/NavScreen.tsx
  mobile/dripdrop/app/pages/Post.tsx
  mobile/dripdrop/app/pages/Profile.tsx
  mobile/dripdrop/app/pages/Search.tsx
  mobile/dripdrop/components/navigation/Navbar.tsx
  mobile/dripdrop/components/screens/Home.tsx
  mobile/dripdrop/components/screens/Search.tsx
Due: none

Fixing eslint
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

FIxed the width and added the keyboardAvoidingView for better text input
  mobile/dripdrop/app/create-post.tsx
  mobile/dripdrop/app/pages/Login.tsx
  mobile/dripdrop/app/pages/NavScreen.tsx
  mobile/dripdrop/app/pages/Post.tsx
  mobile/dripdrop/app/pages/Signup.tsx
Due: none

Added loading indicator on sign in and made improvements to the create post
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/app/lib/api.ts
  mobile/dripdrop/app/lib/types.ts
  mobile/dripdrop/app/pages/Login.tsx
  mobile/dripdrop/app/pages/NavScreen.tsx
  mobile/dripdrop/app/pages/Post.tsx
Due: none

Progress for today
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/user/create-user/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-id/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-username/handler.py
  aws/lib/lambdas/api-endpoints/user/get-users/handler.py
  aws/lib/lambdas/api-endpoints/user/update-user/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

login now has a loading circle as well
  mobile/dripdrop/app/pages/Login.tsx
Due: none

refactored a few fils and also removed bookmarks from navbar
  mobile/dripdrop/app/components/Navbar.tsx
  mobile/dripdrop/app/pages/Bookmarks.tsx
  mobile/dripdrop/app/pages/Home.tsx
  mobile/dripdrop/app/pages/NavScreen.tsx
  mobile/dripdrop/app/pages/create-post.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

searchbar works for posts too, just cannot click on them yet
  mobile/dripdrop/app/components/Searchbar.tsx
Due: none

removed branch deploys as they aren't needed
  .gitlab-ci.yml
Due: none

typescript stuff
  website/dripdrop/src/components/UserProfile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixed dependency warnings. Removed unneeded files.
  aws/package-lock.json
  mobile/dripdrop/__lib/api.ts
  mobile/dripdrop/__lib/types.ts
  mobile/dripdrop/app/(layouts)/_layout.tsx
  mobile/dripdrop/app/pages/Bookmarks.tsx
  mobile/dripdrop/app/pages/Home.tsx
  mobile/dripdrop/app/pages/Login.tsx
  mobile/dripdrop/app/pages/Post.tsx
  mobile/dripdrop/app/pages/ProcessingPost.tsx
  mobile/dripdrop/app/pages/Profile.tsx
  mobile/dripdrop/app/pages/Search.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

Resolving compile time errors and warnings
  mobile/dripdrop/components/navigation/Navbar.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

Used cleaner icons for nav bar and made it non transparent
  mobile/dripdrop/app/pages/Post.tsx
  mobile/dripdrop/app/pages/ProcessingPost.tsx
  mobile/dripdrop/components/navigation/Navbar.tsx
Due: none

Resolving merge conflicts
  mobile/dripdrop/app/pages/Login.tsx
  mobile/dripdrop/app/pages/Post.tsx
  mobile/dripdrop/app/pages/Signup.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

Fixing versions
  mobile/dripdrop/app/pages/Login.tsx
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

good for now
  aws/bin/dripdrop-app.ts
  aws/lib/api-stack.ts
  aws/lib/constructs/api-construct.ts
  aws/lib/constructs/apigateway.ts
  aws/lib/constructs/database.ts
  aws/lib/constructs/dns.ts
  aws/lib/constructs/lambdas.ts
  aws/lib/constructs/static-site.ts
  aws/lib/constructs/vpc.ts
  aws/lib/image-optimization-stack.ts
  aws/lib/interfaces/staticProps.interface.ts
  aws/lib/layer/prepar_layer.sh
  aws/lib/layer/sqlalchemy_utils.py
  scripts/start-msql-workbench.sh
Due: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api

removed old way
  aws/lib/api-stack.ts
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

fix merge
  aws/lib/constructs/api-construct.ts
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Close to done, just need to get right permissions
  aws/lib/constructs/lambdas.ts
  aws/lib/lambdas/api-endpoints/follow/get-followers/handler.py
  aws/lib/lambdas/api-endpoints/follow/get-following/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-id/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-username/handler.py
  aws/lib/lambdas/api-endpoints/user/get-users/handler.py
  aws/lib/lambdas/api-endpoints/user/update-profile-pic/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

Check that the date is passed in the correct format
  aws/lib/lambdas/api-endpoints/user/create-user/handler.py
Due: none

fix bucket permission
  aws/lib/constructs/lambdas.ts
Due: none

Logan's change and fix to date
  aws/lib/lambdas/api-endpoints/feed/get-feed/handler.py
  aws/lib/lambdas/api-endpoints/manage-db/create-tables.py
  aws/lib/lambdas/api-endpoints/manage-db/force-drop-tables.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-id/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-username/handler.py
  aws/lib/lambdas/api-endpoints/user/get-users/handler.py
Due: none

Bruno update
  api-collection/dripdrop/Users/Create User.bru
Due: none

Revert s3 fix
  aws/lib/constructs/lambdas.ts
Due: none

this stuff is cooked
  api-collection/dripdrop/Users/Create User.bru
  aws/lib/api-stack.ts
  aws/lib/constructs/database.ts
  aws/lib/constructs/lambdas.ts
  aws/lib/constructs/ssm.ts
  aws/lib/constructs/vpc.ts
  aws/lib/layer/global-bundle.pem
  aws/lib/layer/prepar_layer.sh
  aws/lib/layer/requirements.txt
  aws/lib/layer/sqlalchemy_utils.py
  scripts/start-msql-workbench.sh
Due: none

Initial progress
  aws/lib/constructs/apigateway.ts
  aws/lib/constructs/lambdas.ts
  aws/lib/lambdas/api-endpoints/post/search-posts/handler.py
  aws/lib/lambdas/api-endpoints/user/search-users/handler.py
Due: none

default profile pic
  aws/lib/lambdas/api-endpoints/user/create-user/handler.py
  aws/lib/lambdas/api-endpoints/user/update-user/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none

test-default
  aws/lib/lambdas/api-endpoints/user/create-user/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: none
