Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api, aws_cdk_deploy_branch

build website:
  stage: build
  image: node:latest
  script:
  - cd website/dripdrop
  - npm install
  - npm run build
  artifacts:
    paths:
    - website/dripdrop/build/
    when: always

aws-cdk-diff:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - cdk diff WebsiteHostingStack --exclusively true

aws-cdk-deploy:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - npm run build
  - cdk deploy WebsiteHostingStack --require-approval never

build layer:
  stage: build
  image: python:3.11
  script:
  - cd ${AWS_ROOT}/lib/layer
  - pip install -r requirements.txt -t ./python
  - cp *.py ./python
  artifacts:
    paths:
    - ${AWS_ROOT}/lib/layer/python
    when: always

aws-cdk-diff-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
  - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - cdk diff MainAPI --exclusively true

aws-cdk-deploy-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
  - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - npm run build
  - cdk deploy MainAPI --require-approval never

aws_cdk_deploy_branch:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  environment:
    name: branch/${CI_COMMIT_BRANCH}
    url: https://${CI_COMMIT_BRANCH}.dripdropco.com
    on_stop: stop_branch_deploy
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  ...

Created the post modal
  website/dripdrop/src/components/ViewPostModal.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Centered the loading spinner
  website/dripdrop/src/components/Feed.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Finally got salt/hash to work
  aws/lib/lambdas/user/createUser/handler.py
  aws/lib/lambdas/user/userSignIn/handler.py
  aws/lib/layer/requirements.txt
  aws/lib/layer/user.py
Due: none

images stuff
  .gitignore
  aws/bin/dripdrop-app.ts
  aws/lib/image-optimization-stack.ts
  aws/lib/imageDnsLayer/requirements.txt
  aws/lib/lambdas/image-processing/index.py
  aws/lib/layer/image.py
  aws/lib/origin-shield.ts
  test.json
Due: none

test
  api-collection/dripdrop/Posts/Create Post.bru
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/post/createPost/handler.py
  aws/lib/layer/image.py
  aws/lib/layer/post.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

images bascially done
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/post/createPost/handler.py
  aws/lib/lambdas/post/deletePost/handler.py
  aws/lib/lambdas/post/getPostById/handler.py
  aws/lib/lambdas/post/getPosts/handler.py
  aws/lib/lambdas/post/getPostsByUserID/handler.py
  aws/lib/lambdas/post/handler.py
  aws/lib/lambdas/post/updatePost/handler.py
  aws/lib/layer/image.py
  aws/lib/layer/post.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

removing unued vars
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/Feed.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

commented out cloudfront url rewrite function because it calls a non-existent lambda
  aws/lib/image-optimization-stack.ts
Due: none

commented out urlRewrite function
  aws/lib/image-optimization-stack.ts
Due: none

trying to integrate images
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Images can now put in posts when creating and a retrieved for the feed
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixing login/signup height
  website/dripdrop/src/pages/signIn.tsx
  website/dripdrop/src/pages/signUp.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Follow button
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

More merge
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Blocking off mobile display
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixing signin sizing and color as discussed in previous meeting
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Add the has seen table and functionality
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/has-seen/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
  aws/lib/layer/has_seen.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Fixing text color
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Start feed algorithm
  aws/lib/layer/feed.py
  aws/lib/layer/post.py
Due: none

Search logic hotfix
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/Searchbar.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

uncommented url rewrite lambda. Need to create the ./lib/lambdas/url-rewrite/index.js file still
  aws/lib/image-optimization-stack.ts
Due: none

updated .gitignore
  aws/.gitignore
  aws/lib/lambdas/url-rewrite/index.js
Due: none

fixing lint error
  website/dripdrop/src/components/CreatePostModal.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

actaully fixing linting error in pipeline
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Removing follow button from post
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Re added the edit profile and logout buttons
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Followers and following count is dynamically populated in the prpofile screen
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

updated react router to remove console error
  website/dripdrop/package-lock.json
  website/dripdrop/package.json
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

fixing eslint with missing useEffect dependencies
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Added contexrt in post handler
  aws/lib/lambdas/post/handler.py
Due: none

fixed post issue where top posts are cut off
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

cleaning up code and making posts appear larger. Need to fix the searchbar and how the content reacts to it when it appears
  website/dripdrop/src/App.tsx
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Home.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/styles/app.css
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixed the main content going below the search bar and added an animation for makig the search bar go away when a different html element is clicked
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixed the size of the profile. Displays at a normal width now
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/EditProfile.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixed the size of the profile. Displays at a normal width now
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/Layout.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

search bar stays in foreground
  website/dripdrop/src/components/Searchbar.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Cleaned up sidebar code and made the buttons have a larger clickable space
  website/dripdrop/src/components/Sidebar.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

test
  website/dripdrop/package-lock.json
  website/dripdrop/package.json
  website/dripdrop/src/App.tsx
  website/dripdrop/src/Auth/ProtectedRoute.tsx
  website/dripdrop/src/Auth/UserContext.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

testing
  .husky/pre-commit
  aws/lib/layer/user.py
  website/dripdrop/.prettierrc
  website/dripdrop/eslint.config.js
  website/dripdrop/package-lock.json
  website/dripdrop/package.json
  website/dripdrop/src/App.test.tsx
  website/dripdrop/src/App.tsx
  website/dripdrop/src/Auth/ProtectedRoute.tsx
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/components/UserProfile.tsx
  website/dripdrop/src/index.tsx
  website/dripdrop/src/pages/EditProfile.tsx
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/pages/signIn.tsx
  website/dripdrop/src/pages/signUp.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

test
  .husky/pre-commit
  website/dripdrop/package.json
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Path conditions:
  build website: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-diff: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-deploy: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  build layer: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-diff-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-deploy-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws_cdk_deploy_branch: any of: website/dripdrop/**/*
