Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api, aws_cdk_deploy_branch

build website:
  stage: build
  image: node:latest
  script:
  - cd website/dripdrop
  - npm install
  - npm run build
  artifacts:
    paths:
    - website/dripdrop/build/
    when: always

aws-cdk-diff:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - cdk diff WebsiteHostingStack --exclusively true

aws-cdk-deploy:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - npm run build
  - cdk deploy WebsiteHostingStack --require-approval never

build layer:
  stage: build
  image: python:3.11
  script:
  - cd ${AWS_ROOT}/lib/layer
  - pip install -r requirements.txt -t ./python
  - cp *.py ./python
  artifacts:
    paths:
    - ${AWS_ROOT}/lib/layer/python
    when: always

aws-cdk-diff-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
  - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - cdk diff MainAPI --exclusively true

aws-cdk-deploy-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
  - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  - - .setup
    - script
  - - .assume_role
    - script
  - npm run build
  - cdk deploy MainAPI --require-approval never

aws_cdk_deploy_branch:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  environment:
    name: branch/${CI_COMMIT_BRANCH}
    url: https://${CI_COMMIT_BRANCH}.dripdropco.com
    on_stop: stop_branch_deploy
  dependencies:
  - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
  - cd ${AWS_ROOT}
  script:
  ...

test
  website/dripdrop/package.json
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

test
  website/dripdrop/.husky/pre-commit
  website/dripdrop/.husky/pre-push
  website/dripdrop/.prettierrc
  website/dripdrop/eslint.config.js
  website/dripdrop/eslint.config.mjs
  website/dripdrop/package-lock.json
  website/dripdrop/package.json
  website/dripdrop/src/App.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

added eslint precommits
  website/dripdrop/.husky/pre-commit
  website/dripdrop/.husky/pre-push
  website/dripdrop/eslint.config.mjs
  website/dripdrop/package.json
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/pages/Layout.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

fix some husky files
  website/dripdrop/.husky/pre-commit
  website/dripdrop/.husky/pre-push
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

fix some husky files
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/signIn.tsx
  website/dripdrop/src/pages/signUp.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

I think this is final eslint fix, I hope
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

I was wrong
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

I don't know why eslint missed this but the build didn't tf
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Images display now
  website/dripdrop/package-lock.json
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

fixed default image
  website/dripdrop/public/default_image.png
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

removed comment
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

fixing console warning about unique key
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Refactoring code into the types.ts file
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/Filters.tsx
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/components/UserProfile.tsx
  website/dripdrop/src/components/ViewPostModal.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixing pipeline
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Added image to modal
  website/dripdrop/src/components/ViewPostModal.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Requiring image in a post and fixed imageURL error
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/ViewPostModal.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Test
  aws/lib/lambdas/api-endpoints/user/createUser/handler.py
  aws/lib/lambdas/api-endpoints/user/deleteUser/handler.py
  aws/lib/lambdas/api-endpoints/user/getUserById/handler.py
  aws/lib/lambdas/api-endpoints/user/getUserByUsername/handler.py
  aws/lib/lambdas/api-endpoints/user/getUsers/handler.py
  aws/lib/lambdas/api-endpoints/user/updateUser/handler.py
  aws/lib/lambdas/api-endpoints/user/userSignIn/handler.py
  aws/lib/lambdas/user/createUser/handler.py
Due: none

Testing new structure on /user
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/user/create-user/handler.py
  aws/lib/lambdas/api-endpoints/user/delete-user/handler.py
  aws/lib/lambdas/api-endpoints/user/deleteUser/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-id/handler.py
  aws/lib/lambdas/api-endpoints/user/get-user-by-username/handler.py
  aws/lib/lambdas/api-endpoints/user/get-users/handler.py
  aws/lib/lambdas/api-endpoints/user/getUserById/handler.py
  aws/lib/lambdas/api-endpoints/user/getUserByUsername/handler.py
  aws/lib/lambdas/api-endpoints/user/getUsers/handler.py
  aws/lib/lambdas/api-endpoints/user/update-user/handler.py
  aws/lib/lambdas/api-endpoints/user/updateUser/handler.py
  aws/lib/lambdas/api-endpoints/user/user-sign-in/handler.py
  aws/lib/lambdas/api-endpoints/user/userSignIn/handler.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Fix error in pathnames
  aws/lib/constructs/api-construct.ts
  aws/lib/layer/user.py
  package-lock.json
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Fixed 2 more small errors
  aws/lib/lambdas/api-endpoints/user/delete-user/handler.py
  aws/lib/lambdas/api-endpoints/user/update-user/handler.py
Due: none

Beginning work on imageMarker. Also fixed an error about unique chile keys on the feed
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/ImageMarker.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Refactored Follow endpoints
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/follow/follow-user/handler.py
  aws/lib/lambdas/api-endpoints/follow/get-followers/handler.py
  aws/lib/lambdas/api-endpoints/follow/get_following/handler.py
  aws/lib/lambdas/api-endpoints/follow/unfollow-user/handler.py
  aws/lib/lambdas/follow/followUser/handler.py
  aws/lib/lambdas/follow/getFollowers/handler.py
  aws/lib/lambdas/follow/getFollowing/handler.py
  aws/lib/lambdas/follow/unfollowUser/handler.py
  aws/lib/layer/follow.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

WIP on Post
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/manage-db/handler.py
  aws/lib/lambdas/api-endpoints/post/create-post
  aws/lib/lambdas/test-functions/handler.py
  aws/lib/layer/tag.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Remove follow dependency
  aws/lib/layer/feed.py
Due: none

Fixing/adding dependencies
  mobile/dripdrop/app/layouts/_layout.tsx
  mobile/dripdrop/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf
  mobile/dripdrop/assets/fonts/Inter-VariableFont_opsz,wght.ttf
  mobile/dripdrop/package-lock.json
  mobile/dripdrop/package.json
Due: none

Starting login page
  mobile/dripdrop/app/index.tsx
  mobile/dripdrop/components/screens/Login.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

adding loading for create posts
  website/dripdrop/src/components/CreatePostModal.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Moved post functionality
  aws/lib/lambdas/api-endpoints/post/create-post/handler.py
  aws/lib/lambdas/api-endpoints/post/create-post/image.py
  aws/lib/lambdas/api-endpoints/post/delete-post/handler.py
  aws/lib/lambdas/api-endpoints/post/get-post-by-id/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts-by-user-id/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts/handler.py
  aws/lib/lambdas/api-endpoints/post/update-post/handler.py
  aws/lib/layer/post.py
Due: none

Done with restructure. Still need to test
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/post/delete-post/handler.py
  aws/lib/lambdas/api-endpoints/post/get-posts-by-user-id/handler.py
  aws/lib/lambdas/post/handler.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Small fix
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/api-endpoints/follow/get-following/handler.py
Due: build layer, aws-cdk-diff-api, aws-cdk-deploy-api

Updated some Bruno endpoints
  api-collection/dripdrop/Posts/Create Post.bru
  api-collection/dripdrop/Posts/Delete Post.bru
  api-collection/dripdrop/Posts/Update Post.bru
  api-collection/dripdrop/Posts/View Post by ID.bru
  api-collection/dripdrop/Posts/View all Posts by UserID.bru
  api-collection/dripdrop/Posts/View all Posts.bru
Due: none

Reverting to working code
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/ImageMarker.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Integrated the clickable images to the create Post
  website/dripdrop/src/components/CreatePostModal.tsx
  website/dripdrop/src/components/ImageMarker.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

When the post body is clicked from the feed, it takes you to the viewPost component. When the creator's name is clicked, it naviagtes to their profile
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/components/UserProfile.tsx
  website/dripdrop/src/components/ViewPostModal.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

adding viewPost loading
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/Filters.tsx
  website/dripdrop/src/components/ImageMarker.tsx
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

the correct posts now display on the Profile page
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixed the hover on posts. Cleaned up some UI code
  website/dripdrop/src/Auth/UserContext.tsx
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Profile.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

clicking on a post now correctly opens that post
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Fixed the hover on posts in the profile screen
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

fixed followers and following
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy, aws_cdk_deploy_branch

Path conditions:
  build website: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-diff: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  aws-cdk-deploy: any of: website/dripdrop/**/*, aws/lib/constructs/static-site.ts, aws/lib/layer/website-hosting-stack.ts
  build layer: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-diff-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws-cdk-deploy-api: any of: aws/lib/constructs/api-construct.ts, aws/lib/layer/api-stack.ts
  aws_cdk_deploy_branch: any of: website/dripdrop/**/*
