Repository loganroe-se/ISU_Senior_Design: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build website, aws-cdk-diff, aws-cdk-deploy, build layer, aws-cdk-diff-api, aws-cdk-deploy-api

.gitlab-ci.yml:

variables:
  AWS_ROOT: "aws"
  BUILD_IMAGE: node:lts-alpine

stages:
  - assume-role
  - build
  - aws-cdk-diff
  - aws-cdk-deploy

# GENERAL

.setup:
  script:
    - node --version  # Print out nodejs version for debugging
    - apk add --no-cache aws-cli  # install aws-cli
    - npm install -g aws-cdk  # install aws-cdk
    - echo "Compiling the code..."
    - npm install  # install project dependencies
    - echo "Compile complete."

.assume_role:
  script:
    - echo ${ID_TOKEN}
    - >
      export $(printf "AWS_ACCESS_KEY_ID=%s AWS_SECRET_ACCESS_KEY=%s AWS_SESSION_TOKEN=%s"
      $(aws sts assume-role-with-web-identity
      --role-arn ${ROLE_ARN}
      --role-session-name "GitLabRunner-${CI_PROJECT_ID}-${CI_PIPELINE_ID}"
      --web-identity-token ${ID_TOKEN}
      --duration-seconds 3600
      --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]'
      --output text))
    - aws sts get-caller-identity

# WEBSITE 

build website:
  stage: build
  image: node:latest
  script:
    - cd website/dripdrop  # Navigate to the directory where package.json is
    - npm install
    - npm run build
  artifacts:
    paths:
      - website/dripdrop/build/ 
    when: always
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - website/dripdrop/**/*


aws-cdk-diff:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
    - cd ${AWS_ROOT} 
  script:
    - !reference [.setup, script]
    - !reference [.assume_role, script]
    - cdk diff WebsiteHostingStack --exclusively true
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - website/dripdrop/**/*


aws-cdk-deploy:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
    - build website
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
    - cd ${AWS_ROOT} 
  script:
    - !reference [.setup, script]
    - !reference [.assume_role, script]
    - npm run build
    - cdk deploy WebsiteHostingStack --require-approval never
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - website/dripdrop/**/*


# API 

build layer:
  stage: build
  image: python:3.11
  script:
    - cd ${AWS_ROOT}/lib/layer  # Navigate to the directory where package.json is
    - pip install -r requirements.txt -t ./python
    - cp *.py ./python
  artifacts:
    paths:
      - ${AWS_ROOT}/lib/layer/python
    when: always
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - aws/*

aws-cdk-diff-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-diff
  dependencies:
    - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
    - cd ${AWS_ROOT} 
  script:
    - !reference [.setup, script]
    - !reference [.assume_role, script]
    - cdk diff ApiStack --exclusively true
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - aws/*


aws-cdk-deploy-api:
  image: $BUILD_IMAGE
  stage: aws-cdk-deploy
  dependencies:
    - build layer
  id_tokens:
    ID_TOKEN:
      aud: sdmay25-25-s3-deploy
  before_script:
    - cd ${AWS_ROOT} 
  script:
    - !reference [.setup, script]
    - !reference [.assume_role, script]
    - npm run build
    - cdk deploy ApiStack --require-approval never
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      changes:
        - aws/**/*

added circular progress
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Update tags table
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Update create handler
  aws/lib/lambdas/tag/createTag/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Give a more descriptive error if a tag already exists
  aws/lib/lambdas/tag/createTag/handler.py
Due: aws-cdk-deploy-api

stupid es lint
  website/dripdrop/src/components/UpdatePassword.tsx
  website/dripdrop/src/pages/EditProfile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

WIP: 90214f2 Merge branch 'test-branch-pipline' into 'master'
  .gitlab-ci.yml
  aws/bin/dripdrop-app.ts
  aws/lib/constructs/api-construct.ts
  scripts/start-msql-workbench.sh
Due: aws-cdk-deploy-api

ci change
  .gitlab-ci.yml
Due: none

Update Bruno
  api-collection/dripdrop/Posts/Delete Post.bru
  api-collection/dripdrop/Posts/Update Post.bru
  api-collection/dripdrop/Users/User Sign In.bru
Due: none

Small fixes
  aws/lib/lambdas/post/createPost/handler.py
  aws/lib/lambdas/user/getUserByUsername/handler.py
  aws/lib/layer/dripdrop_orm_objects.py
Due: aws-cdk-deploy-api

Fixed the change password logic and form validation
  website/dripdrop/src/components/UpdatePassword.tsx
  website/dripdrop/src/pages/EditProfile.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

populates with user's info on edit profil
  website/dripdrop/src/pages/EditProfile.tsx
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

fixing the edit post button
  website/dripdrop/package.json
  website/dripdrop/src/pages/CreatePost.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

create post is now in modal form
  website/dripdrop/src/components/PostModal.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Layout.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Post modal closes when a post is created with confirmation
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/components/PostModal.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/CreatePost.tsx
  website/dripdrop/src/pages/Layout.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

added logout button
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/EditProfile.tsx
  website/dripdrop/src/pages/Profile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Tested
  api-collection/dripdrop/Posts/Create Post.bru
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/post/createPost/handler.py
Due: aws-cdk-deploy-api

Now its all working
  api-collection/dripdrop/Posts/Create Post.bru
  api-collection/dripdrop/Users/Create User.bru
  api-collection/dripdrop/Users/Delete User.bru
  api-collection/dripdrop/Users/Update User.bru
  api-collection/dripdrop/Users/User Sign In.bru
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/user/getUserByUsername/handler.py
Due: aws-cdk-deploy-api

Add Bruno endpoint
  api-collection/dripdrop/Users/Get By Username.bru
Due: none

Add my user to SSM role
  aws/lib/constructs/api-construct.ts
Due: aws-cdk-deploy-api

Working on feed component
  website/dripdrop/src/components/Feed.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

same
  website/dripdrop/src/components/Feed.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

feed is updated using a feed component. Now have an api class to store endpoints
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/pages/Home.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

trying to update posts with correct username, having issue of all post getting assigned username of the same user
  website/dripdrop/src/api/api.ts
  website/dripdrop/src/components/Feed.tsx
  website/dripdrop/src/components/PostCard.tsx
  website/dripdrop/src/types.ts
Due: build website, aws-cdk-diff, aws-cdk-deploy

Fixing sidebar
  website/dripdrop/src/components/Sidebar.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Update api-construct.ts
  aws/lib/constructs/api-construct.ts
Due: aws-cdk-deploy-api

Starting search bar
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Layout.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Semi-Functional Search Bar
  website/dripdrop/package-lock.json
  website/dripdrop/package.json
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/components/Sidebar.tsx
  website/dripdrop/src/pages/Layout.tsx
  website/dripdrop/src/pages/SearchResults.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Fix
  website/dripdrop/src/pages/Layout.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Incorporating time buffer for search bar
  website/dripdrop/src/components/Searchbar.tsx
  website/dripdrop/src/pages/Layout.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Implement functions and refactor handler
  aws/lib/lambdas/tag/createTag/handler.py
  aws/lib/layer/tag.py
Due: aws-cdk-deploy-api

Add logan, zach, and gaving to SSM role
  aws/lib/constructs/api-construct.ts
Due: aws-cdk-deploy-api

Remove all tag endpoints
  aws/lib/constructs/api-construct.ts
  aws/lib/lambdas/tag/createTag/handler.py
  aws/lib/lambdas/tag/deleteTag/handler.py
  aws/lib/lambdas/tag/getTagById/handler.py
  aws/lib/lambdas/tag/getTags/handler.py
  aws/lib/lambdas/tag/updateTag/handler.py
Due: aws-cdk-deploy-api

The feed displays the correct data and the user's username who made the post
  website/dripdrop/src/components/Feed.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

removed unused import
  website/dripdrop/src/pages/Layout.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

testing s3 update on change
  .gitlab-ci.yml
Due: none

testing pipeline on website change
  website/dripdrop/src/pages/EditProfile.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Testing the pipeleine changes
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

reverting back from tests
  website/dripdrop/src/pages/signIn.tsx
Due: build website, aws-cdk-diff, aws-cdk-deploy

Testing the new method
  aws/lib/lambdas/user/createUser/handler.py
  aws/lib/layer/dripdrop_utils.py
  aws/lib/layer/response_utils.py
Due: aws-cdk-deploy-api
